<div class="d-flex justify-content-between align-items-center">
  <p>GamerShare</p>

  <div>
    <% if @user.nil? %>
      <%= render(ButtonComponent.new(path: new_user_session_path, class_name: "button-secondary").with_content("Sign in")) %>
      <%= render(ButtonComponent.new(path: new_user_registration_path, class_name: "button-primary").with_content("Sign up")) %>
    <% else %>
      <%= render(ButtonComponent.new(path: new_game_path, class_name: "button-primary").with_content("Add a game")) %>
      <p>AVATAR</p>
    <% end %>
  </div>
</div>
