<div>
  <h1></h1>

  <div>
    <button></button>
    <button></button>
  </div>
</div>

<%#= render(ButtonComponent.new(path: new_game_path, class_name: "button-primary").with_content("Add a game")) %>
