.game-card {
  width: 250px;
  height: 375px;
  border-radius: 3px;
  background-color: white;

  .game-card__infos {
    height: 25%;
    position: relative;

    .game-card__infos__first-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      h2 {
        position: absolute;
        top: -70px;
        padding: 0 10px;
        color: white;
      }
      i {
        position: absolute;
        top: -25px;
        font-size: 25px;
        padding: 10px;
        border-radius: 50%;
        color: white;
        background-color: #EE1462;
      }
    }

    .game-card__infos__second-part {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      font-size: 10px;
      position: absolute;
      width: 100%;
      top: 35px;
    }
  }
}
