.game-card {
  width: 250px;
  height: 375px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  &:hover {
    transform: scale(1.03);
  }
  
  .game-card__infos {
    height: 25%;
    position: relative;
    background-color: white;

    .game-card__infos__first-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      h2 {
        position: absolute;
        top: -70px;
        padding: 0 10px;
        color: white;
      }
      i {
        position: absolute;
        top: -25px;
        font-size: 25px;
        padding: 10px;
        border-radius: 50%;
        color: white;
        background-color: #EE1462;
      }
    }

    .game-card__infos__second-part {
      display: flex;
      justify-content: space-evenly;
      position: absolute;
      top: 35px;
      width: 100%;
      font-size: 10px;
      text-align: center;
      color: black;
      div {
        width: 33%;
        h3 {
          font-size: 13px;
          font-family: $body-font;
        }
        p {
          font-size: 9px;
          font-family: $headers-font;
          margin-top: 5px;
        }
      }
    }
  }
}
