<div id="trades-new" style="background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('<%= cl_image_path 'gamershare/retro-gaming-trade' %>'); background-size: cover; min-height: 100vh;">

  <h1>What games do you want to trade?</h1>

  <%= render "trades/partials/trade_form", trade: @trade %>
</div>
